* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-flow: column wrap;
}

.link ul {
    list-style: none;
}

.link li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    list-style: none;
}

.link a {
    color: #1c86ee;    
    font-family: 'Francois One', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 25%;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1c86ee;
    padding: 3px;
}

.search input {
    border: 3px solid #1c86ee;
    flex: 60%;
    padding: 6px;
    height: 23px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Francois One', sans-serif;
    font-size: 13px;
}

.search span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid #1c86ee;
    flex: 40%;
    background: #1c86ee;
    padding: 6px;
    height: 23px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Francois One', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icone {
    display: flex;
    justify-content: center;
    align-content: center;
    visibility: hidden;
}


@media all and (min-width: 768px) {
    .container {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 3px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px #dbd7d7;
        background-color: #fffafa;
    }

    nav {
        padding: 3px;
        flex-flow: row wrap;
    }

    .link {
        display: flex;
        flex: 50%;
        justify-content: flex-end;
        align-items: center;
    }

    .link ul {
        display: inline-flex;
        list-style: none;
    }

    .link li {
        border-bottom: none;
        list-style: none;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        flex: 50%;
        padding: 0;
        box-shadow: none;
    }

    .search {
        display: flex;
        justify-content: center;
        border-bottom: none;
    }

    .search input {
        flex: none;
        width: 30%;
    }

    .search span {
        flex: none;
        width: 15%;
    }

    .icone {
        display: flex;
        justify-content: center;
        flex: 52%;
        visibility: visible;
    }
    
    .icone span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 2px;
    }
    a:hover {
        color: #ffcd55;
    }
}
