* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-flow: column wrap;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.logo img {
    width: 30%;
}

.link ul {
    list-style: none;
}

.link li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    list-style: none;
}

.link a {
    color: #1c86ee;    
    font-family: 'Francois One', sans-serif;
    text-decoration: none;
    font-size: 20px
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1c86ee;
    padding: 3px;
}

.search input {
    border: 3px solid #1c86ee;
    flex: 60%;
    padding: 3px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Francois One', sans-serif;
    font-size: 13px;
}

.search span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid #1c86ee;
    flex: 40%;
    background: #1c86ee;
    padding: 3px;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Francois One', sans-serif;
}

@media all and (min-width: 768px) {
    nav {
        border: none;
        flex-flow: row wrap;
        box-shadow: 1px 1px 1px 1px #dbd7d7;
        background-color: #fffafa;
        height: 60px;
    }

    .logo {
        display: flex;
        flex: 340px;
        justify-content: flex-start;
        padding: 0px;
        box-shadow: none;
    }

    .search {
        display: flex;
        justify-content: center;
        flex: 45%;
        border-bottom: none;
    }

    .search input {
        flex: 70%;
    }

    .search span {
        flex: 20%;
    }

    .link {
        display: flex;
        flex: 30%;
        justify-content: flex-end;
        align-items: center;
    }

    .link ul {
        float: left;
        margin-top: 8px;
        margin-right: 15px;
        display: inline-flex;
        list-style: none;
    }

    .link li {
        display: inline-block; 
        padding: 5px;
        list-style: none;
    }
    a:hover {
        color: #ffcd55;
    }
}